h1 {
   font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

li {
  font-family: 'Open Sans', sans-serif;
}

.new-item-input {
  font-family: 'Open Sans', sans-serif;
}

.no-items {
  color: #999;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}

.no-items-shadow{
  box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.5);
}

form.add-item {
  padding: 10px;
  display: flex;
  align-items: center;
  // max-width: 900px; /* adjust as needed */
  margin: 0 auto; /* center horizontally */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; /* added font family */
}

.add-item input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  max-width: 800px;
}

.row {
  display: flex;
  justify-content: center;
  
}

.col-75 {
  display: inline-block;
  vertical-align: center;
}

.item-column {
  display: inline-block;
}

.checkbox-button {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
}

.button-column {
  display: flex;
  margin-left: 10px;
  margin-right: 0;
}

.checkbox-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.checkbox-button:checked:after {
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ecc71;
  font-size: 12px;
  font-weight: bold;
}

.delete-button {
  background-color: #dedad9;
  color: #fff;
  border: none;
  padding: 1px 4px;
  border-radius: 3px;
  cursor: pointer;
  margin-right:10px;
}

.delete-button:hover {
  background-color: #e74c3c;
}

ul.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}


ul.todo-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
}


ul.todo-list li:last-child {
  border-bottom: none;
}

body {
  background-color: #fff;
  color: #333;
}

body.night-mode {
  background-color: #333;
  color: #fff;
}

.switch {
  display: inline-block;
  position: fixed;
  bottom: 40px;
  right: 100px;
  z-index: 1;
}

.night-mode-text {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-left: 5px;

html, body {
  height: 100%;
}







