h1 {
   font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}



li {
  font-family: 'Open Sans', sans-serif;
}



.no-items {
  color: #999;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}

.no-items-shadow{
  box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.5);
}

.add-button {
    background-color: #22A7F0;
    color: white;
    font-size: 18px;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #f2f2f2;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
}

.sidebar.hide {
    animation: slideOut 0.5s forwards;
}

.sidebar.show {
    animation: slideIn 0.5s forwards;
}

.sidebar.night-mode {
    background-color: #222;
}

#new-item-input {
    font-family: 'Open Sans', sans-serif;
    width:50%;
    font-size: 18px;
}

form.add-item {
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto; /* center horizontally */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; /* added font family */
    
}



.row {
  display: flex;
  justify-content: center;
  
}

.col-75 {
  display: inline-block;
  vertical-align: center;
}

.col-75.checked {
    display: inline-block;
    vertical-align: center;
    
}

.item-column {
    display: inline-block;
}

.checkbox-button {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
}

.button-column {
  display: flex;
  margin-left: 10px;
  margin-right: 0;
}

.checkbox-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.checkbox-button:checked:after {
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ecc71;
  font-size: 12px;
  font-weight: bold;
}

.delete-button {
  background-color: #dedad9;
  color: #fff;
  border: none;
  padding: 1px 4px;
  border-radius: 3px;
  cursor: pointer;
  margin-right:10px;
}

.delete-button:hover {
  background-color: #e74c3c;
}

ul.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}


ul.todo-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
}



ul.todo-list li:last-child {
  border-bottom: none;
}

body {
  background-color: #fff;
  color: #333;
}

body.night-mode {
  background-color: #333;
  color: #fff;
}

body.night-mode .sidebar{

    background-color: #222;
    color: #fff;
}


#sidebar-toggle {
    width: 30px;
    height: 30px;
    border-width: 0px;
    // border-radius: 75%;
    background-color: #b2b2c2;
    color: #ffffff;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 200px;
    cursor: pointer;
}

body.night-mode #sidebar-toggle {
    background-color: #555555;
    color: #ffffff;
}

#sidebar-toggle:before {
    content: '\2039';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.sidebar.hide ~ #sidebar-toggle:before {
    content: '\203A';
}

.sidebar.hide ~ #sidebar-toggle {
    animation: toggleSlideOut 0.5s forwards;
}

.sidebar.show ~ #sidebar-toggle {
    animation: toggleSlideIn 0.5s forwards;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.profile-picture {
    font-size: 36px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #888;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.profile-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.switch {
  display: inline-block;
  position: fixed;
  bottom: 11px;
  right: 70px;
  z-index: 1;
}

.night-mode-text {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-left: 5px;
    color: #333;
}
 
html, body {
  height: 100%;

}

#container {
    padding-bottom: 200px;
}









